/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes dropdown {
  0% {
    transform: translateY(-400%);
  }
  100% {
    transform: translateY(0);
  }
}
.nav-item {
  animation: dropdown 0.5s ease;
}

.animated-left {
  animation: slideInFromLeft 1s ease;
}

.animated-right {
  animation: slideInFromRight 1s ease;
}

.animated-left-out {
  animation: slideInFromLeft 1s ease reverse;
}
.animated-right-out {
  animation: slideInFromRight 1s ease reverse;
} */
